<h1>Projects</h1>

<div class='container'>
    <div class='project'>
      <div class='image'>
        <%= image_tag( 'classnotes.png' ) %>
      </div>
      <a href='#'>Class Notes</a>
      <span class='info'>
        Rails, Ruby, Google Drive API, Postgres
      </span>
    </div>
    <div class='project'>
      <div class='image'>
        <%= image_tag( 'sds.png' ) %>
      </div>
      <a href='#'>Smart Data Structure</a>
      <span class='info'>
        Python, Matplotlib, Threading
      </span>
    </div>
    <div class='project'>
      <div class='image'>
        <%= image_tag( 'fbmuseum.png', :class => 'image' ) %>
      </div>
      <a href='#'>FB Museum</a>
      <span class='info'>
        Javascript, Three.js, Facebook (JS) API
      </span>
    </div>
    <div class='project'>
      <div class='image'>
        <%= image_tag( 'lifechain.png', :class => 'image' ) %>
      </div>
      <a href='#'>LifeChain</a>
      <span class='info'>
        Python, Django, Open Graph API (Facebook), Processing
      </span>
    </div>
    <div class='project'>
      <div class='image'>
        <%= image_tag( 'buzzer.png' ) %>
      </div>
      <a href='#'>Buzz!</a>
      <span class='info'>
        Cocoa Touch, Objective-C, Bonjour
      </span>
    </div>
    <div class='project'>
      <div class='image'>
        <%= image_tag( 'mimo.png' ) %>
      </div>
      <a href='#'>Mimo</a>
      <span class='info'>
        Now.js, Node.js, HTML5 Audio API
      </span>
    </div>
</div>

<%# <div class='desc'> %>
<%#   <div class='arrow-select'></div> %>
<%#   <div class='description'> %>
<%#     Varun Rau is awesome. He also does weddings and birthday parties. %>
<%#   </div> %>
<%# </div> %>
