<h1>Projects</h1>

<div id='demoMenu'>
  <div class='project'>
    <div class='image'>
      <%= image_tag( 'sds.png' ) %>
    </div>
    <a href='#'>Smart Data Structure</a>
    <span class='info'>
      Python, Matplotlib, Threading
    </span>
  </div>
  <div class='project'>
    <div class='image'>
      <%= image_tag( 'fbmuseum.png' ) %>
    </div>
    <a href='#'>FB Museum</a>
    <span class='info'>
      Javascript, Three.js, Facebook (JS) API
    </span>
  </div>
  <div class='project'>
    <div class='image'>
      <%= image_tag( 'lifechain.png' ) %>
    </div>
    <a href='#'>LifeChain</a>
    <span class='info'>
      Python, Django, Open Graph API (Facebook)
    </span>
  </div>
  <div class='project'>
    <div class='image'>
      <%= image_tag( 'buzzer.png' ) %>
    </div>
    <a href='#'>Buzz!</a>
    <span class='info'>
      Cocoa Touch, Objective-C, Bonjour
    </span>
  </div>
  <div class='project'>
    <div class='image'>
      <%= image_tag( 'mimo.png' ) %>
    </div>
    <a href='#'>Mimo</a>
    <span class='info'>
      Now.js, Node.js, HTML5 Audio API
    </span>
  </div>
</div>

<div class='desc'>
  <div class='arrow-select'></div>
  <div class='description'>
    This is a test.
  </div>
</div>

<%# <div class="main-wrap"> %>
<%# 	<div class="items"> %>
		
		
<%# 		<div class="itemWrap well" style="padding-top:20px;" > %>
<%# 					<img alt="Mimo" class="itemImages" src="/assets/sds.png" /> %>
<%# 					<span class="itemTitle" style="padding-left: 30px;"><a href="https://github.com/varunrau/SmartDataStructure">Smart Data Structure</a></span><br><br> %>
<%# 					One of the perennial problems in Computer Science is choosing the right data structure. Some data structures are fast for certain operations but slow for others. Often choosing a good data structure for your needs is very difficult, and many times it is made even more difficult when you do not know what the particular needs of your data structure are until it is already out in the wild. Smart Data Structure is a python tool that solves this problem. At compile-time, it looks at your code and predicts what data structure is most appropriate, then at run-time it constantly reevaluates its decision. If it finds that another data structure is better, it will swap out the data structures in real time. Now students don't have to worry about remembering when to use a Red-Black Tree or a Heap because they can just use Smart Data Structure.<br><br> %>
<%# 					Building this tool was really fun because I got to directly apply what I had learned in class to an application that I will use in the future. Plus it was great studying for the final! %>
<%# 		</div> %>
		
		
<%# 		<div class="itemWrap well" style="padding-top:20px;" > %>
<%# 					<img alt="Mimo" class="itemImages" src="/assets/fbmuseum.png" /> %>
<%# 					<span class="itemTitle" style="padding-left: 30px;">FB Museum</span><br><br> %>
<%# 					My friends mean a lot to me, so I decided to create a virtual museum in their honor. As I was building it and working with Three.js (a Javascript wrapper for WebGL), I was really excited because I thought I had created a really novel way to browse Facebook photos, a very common task on Facebook. After finishing and walking around this virtual museum, it turned out that walking around with a hallway with all your friends plastered on the walls is pretty creepy. Try it for yourself <a href="www.varunrau.com/fbmuseum/index">here.</a><br><br> %>
<%# 					In either case, I learned a lot of Javascript and graphics concepts and this was my first hackathon project that I did completely by myself. %>
<%# 		</div> %>
		
		
		
<%# 		<div class="itemWrap well" style="padding-top:20px;" > %>
<%# 					<img alt="Mimo" class="itemImages" src="/assets/lifechain.png" /> %>
<%# 					<span class="itemTitle" style="padding-left: 30px;">Lifechain</span><br><br> %>
<%# 					18 people die every day in the U.S. waiting for a lifesaving organ transplant. This is a type of disease that is curable by proven surgical techniques. And yet those waiting for just one type of organ transplant consume over 10 percent of the entire medicare budget.<br><br> %>

<%# 					The Lifechain project is the world's first open-source, not-for-profit, transplant-chain service. The Lifechain website uses social networks to connect people in order to save lives. Sign up to see how you and your friends can change lives.<br><br> %>

<%# 					Lifechain will ask you for medical data that can be used to find matches and form chains between you and your friends. If a match is made, you will be informed--and if you are willing, you might be able to change someone's life forever.<br><br> %>
					
<%# 					With a team of three other developers, I created Lifechain at AngelHack 2011 where we won second place! %> 
					
<%# 				</div> %>
		
		
		
		
<%# 		<div class="itemWrap well" style="padding-top:20px;" > %>
<%# 					<img alt="Mimo" class="itemImages" src="/assets/buzzer.png" /> %>
<%# 					<span class="itemTitle" style="padding-left: 30px;">Buzz!</span><br><br> %>
<%# 					I had been competing on a nationally-ranked High School Quizbowl team. Quizbowl, a Jeopardy!-like competition that requires both wit and quick reflexes, is buzzer based. Much of my team's success was owed to our multiple practice sessions with real buzzers. However, many teams that we competed with did not have access to buzzer systems and were disadvantaged. I decided to solve that problem by creating an iOS app that leverages Bonjour and enables any iPhone to act like a buzzer. The app also enables the creation of impromptu quizbowl matches between multiple players. %>
<%# 				</div> %>
		
		
		
<%# 		<div class="itemWrap well" style="padding-top:20px;" > %>
<%# 					<img alt="Mimo" class="itemImages" src="/assets/mimo.png" /> %>
<%# 					<span class="itemTitle" style="padding-left: 30px;">Music in Motion</span><br><br> %>
<%# 					A music playing app that plays music across multiple desktop and mobile devices synchronously. After starting college, I noticed that many people had low-quality laptop speakers and if they could all play music together at the same time, we could have a really cool musical experience. Playing Mozart across four iPhones and three laptops at the same time was really cool and got me really excited for all the future apps I would build. %>
<%# 					<br>This was my very first hackathon project and my first foray into Javascript and Node.js. Let the music begin! %>
<%# 				</div> %>
				
		
				
<%# 	</div> %>
<%# </div> %>
