<!DOCTYPE html>
<html>
<head>
  <title>Varun Rau</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="font">
	<div id="wrapper">
		<div id="menubar">
			<ul>
				<li><%= link_to("Varun Rau", :action => 'index', :controller => 'splash') %></li>
				<li><%= link_to("Resume", :action => 'index', :controller => 'resume') %></li>
				<li><%= link_to("Projects", :action => 'index', :controller => 'projects') %></li>
			</ul>
		</div>
  <!-- <div class="navbar nav-bar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href= '/'>Varun Rau</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Projects and Skills", projects_path %></li>
              <li><%= link_to "Contact Varun", contact_index_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
		<%= yield %>
	</div>
</body>
</html>
